<div>
<ul class="signature-nav">
    <li><a class="description-link" href="#">hide</a></li>
    <li><a class="snippet-link" href="#">show</a></li>
</ul>
<div>

<div class="signature-container">
    <div class="snippet" style="display: none">
        <div class="json">{{sampleJSON}}</div>
        <small class="notice"></small>
    </div>
</div>

