<div>
    <a class="hide-link" href="#" style="display: none">скрыть</a>
    <a class="show-link" href="#">показать</a>
<div>

<div class="signature-container">
    <div class="snippet" style="display: none">
        <div class="json">{{sampleJSON}}</div>
        <small class="notice"></small>
    </div>
</div>

